/*----- ESTILO DE VUELOS.HTML -----*/
/*----- ESTILO DEL CUERPO* -----*/
body {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
 
}

/*----- POSICIONAMIENTO DEL TITULO -----*/
h1{
  text-align: center;
  position:relative;
  left:-5%;
}

/*----- ESTILO DE LA TABLA -----*/
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;    
  margin: 45px;    
 
  border-collapse: collapse;
 
}

/*----- ESTILO DE LA CABECERA DE LA TABLA -----*/
th {
  width: 200px;
  font-weight: bold;
  padding: 8px;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}

/*----- ESTILO DEL CUERPO DE LA TABLA -----*/
td{
  width:200px;
  padding: 16px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  overflow: auto;
}

/*----- AJUSTAR LA CABECERA Y EL CUERPO DE LA TABLA PARA AÑADIR EL SCROLL -----*/
 thead,tbody {
    display: block; 

  }  
tbody {
    height: 250px;  
    text-align: center;   
    overflow-y: auto; 
  }
/*----- ALINERA LOS DIFERENTES TITULOS Y CAMPOS DE TEXTO CORRESPONDIENTES -----*/
label{
  width: 150px;
  margin-bottom: 8px;
  display: inline-block;
}
input{
  width: 250px;
 display: inline-block;
 margin-bottom: 8px;
}

/*----- CAPA QUE CONTINE CADA UNO DE LOS ELEMENTOS CORRESPONDIENTES A LA OPERACIONES QUE SE QUIEREN REALIZAR -----*/
div#mainContainer{
  width: 1450px;
  align-items: center;
  float: left;
  left: 30%;
  position: relative;
  margin-top: 16px;

  /*----- A PARTIR DE AQUÍ, ESTÁN CADA UNA DE LAS CAPAS EN LAS QUE SE UBICAN LOS DISNTINTOS ELEMENTOS DE LAS OPERACIONES (LEER, INSERTAR ETC.)*/
}
div#inserDataDiv{
  width:fit-content;
  align-items: center;
  float: left;
}
div#deleteOneFlightDiv{
  width:fit-content;
  align-items: center;
  float: left;
  margin-left: 32px;
}
div#deleteAllDiv{
  width:fit-content;
  align-items: center;
  float: left;
  margin-left: 32px;
}
div#lookForAFightDiv{
  width:fit-content;
  align-items: center;
  float: left;
  margin-left: 32px;
}
div#updateDiv{
  width:fit-content;
  align-items: center;
  float: left;
  margin-left: 32px;

}
/*-------------------*/
/* ---- ESTLILO DE LOS FORMULARIOS ----- */
/* The popup form - hidden by default */
.form-popup {
 display: none;
 float: left;
 left:  50%;
 bottom: 10;
 margin-top: 16px;
 border: 5px solid #f1f1f1;
 
}

/* Add styles to the form container */
.form-container {
  width: 1487px;
   float: left;
  height: max-content;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: auto;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
